# Pandas and Matplotlib Homework

# Q6) Write a function(s)  
## that subsets a dataframe by removing rows that are WITHIN the InterQuartile Region of a specified column
<br> </br>
### The function takes as input 
##### A: Pandas_Dataframe (For example use NHL_GoaliesDF)
##### B. Column name
### Add a condition that returns an error if the Column Name chosen is not:
##### A. Numeric Dtype
##### B. Does not exist in the Numeric Columns
### The output is a DataFrame that removes rows outside of the specified columns IQR
<br> </br>
<font color='red'>**You can use smaller helper functions **<font>
<br> </br>
See --> <href>=https://en.wikipedia.org/wiki/Interquartile_range</href>
#hint: There are several pandas subfunctions that can be useful

In [69]:
def iqr(data,col_name):
    # 判断输入的col name 的类型，如果是string，就变成dataframe
    if type(col_name) == str:
        col_name = [col_name]
    # count是count输入的col name 有多少个是int的    
    count = 0
    for cn in col_name:
        if data[cn].dtypes in ['float','int']:
            count = count+1
    # 如果输入的全是int 的col name，就走下面这一步，筛选出来 colname
    if count == len(col_name):
        x = data[col_name]
        q75, q25 = np.percentile(x, [75 ,25])
        res = pd.DataFrame(data[(data[col_name] < q25) | (data[col_name] > q75)][col_name]).reset_index(drop=True)
        return(res)
    # 如果不是的话就 print not a number
    else:
        print('not a number')

输入一个不是number 的column

In [72]:
iqr(mergedDF, 'First Name_x')

not a number

输入一个是number的column

In [74]:
iqr(mergedDF, 'TOI').head()

       TOI
0  2997.20
1      NaN
2      NaN
3      NaN
4  2947.94

输入两是number 的column

In [75]:
iqr(mergedDF, ['TOI', 'GA_x']).head()

       TOI  GA_x
0  2997.20   NaN
1  1908.44  59.0
2  1535.89  57.0
3  1700.08   NaN
4  2947.94   NaN